.home{
    display: flex;
    flex-direction: column;
    height: 35vw;
}
.contenedor-home {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vw;
}
.contenedor-home h1{
    text-align: center;
}

figure {
    display: flex;
    justify-content: space-around;
    height: 40%;
    align-items: center;
    background-color: white;
    border-radius: 1vw;
}
/* animacion para las imagenes */
figure img {
    height: 6vw;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

figure img:nth-child(1) {
    animation: fadeIn 0.5s forwards;
}

figure img:nth-child(2) {
    animation: fadeIn 0.5s 0.2s forwards;
}

figure img:nth-child(3) {
    animation: fadeIn 0.5s 0.4s forwards;
}

figure img:nth-child(4) {
    animation: fadeIn 0.5s 0.6s forwards;
}

figure img:nth-child(5) {
    animation: fadeIn 0.5s 0.8s forwards;
}

figure img:nth-child(6) {
    animation: fadeIn 0.5s 1s forwards;
}

figure img:nth-child(7) {
    animation: fadeIn 0.5s 1.2s forwards;
}

figure img:nth-child(8) {
    animation: fadeIn 0.5s 1.4s forwards;
}

figure img:nth-child(9) {
    animation: fadeIn 0.5s 1.6s forwards;
}

figure img:nth-child(10) {
    animation: fadeIn 0.5s 1.8s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

